*{
    font-family: Arial, Helvetica, sans-serif;
}
.background__img{
    display: block;
    width: 100%;    
}
.header__content{
    width: 1000px;
    display: grid;
    grid-template-columns: 35fr 65fr;
}
.header__content .form{
    width: 100%;
    padding: 0 5px;
}
.header__content__sale{
    margin-bottom: 0px;
}
.content{
    width: 1024px;
    display: block;
    margin: 50px auto;
}
.content h1,h2,h3, h4{
    margin: 30px 0;
    color: var(--text-color);
}
.content p {
    font-size: 16px;
    line-height: 1.5;
}
.content img{
    width: 1024px;
}
.content a{
    color: rgb(214, 59, 32);
}
.content__list{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.content__list__iteam{
    width: 30%;
    box-shadow: 2px 2px 10px var(--text-color) ;
    border-radius: 5px;
}
.content__list__iteam h3{
    text-align: center;
}
.content__list__iteam img{
    width: 100%;
    height: 200px;
}
.tytle{
    margin: 100px auto;
}
.tytle h1{
    font-size: 25px;
}
