*{
    font-family: Arial, Helvetica, sans-serif;
}
.background__img{
    position: relative;
    display: block;
    width: 100%;    
}

.header__content__sale{
    position: absolute;
    width: 800px;
    display: block;
    top: 300px;
    margin: 0 20%;
    text-align: center;
}
.header__content__sale h1{
    font-size: 40px;
    color: rgb(221, 53, 53);
}
.header__content__sale p{
    font-size: 30px;
    color: rgb(41, 41, 35);
}
.body__content{
    margin: 100px 0;
}
.content__list{
    width: 1024px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.content__list__iteam{
    width: 47%;
    border: 1px solid #ccc;
    overflow: hidden;
}
.content__list__iteam img{
    width: 100%;
}
.content__list__iteam img:hover{
    transform: scale3d(1.1 , 1.1 ,0.9);
    transition: ease-in 0.25s;
}
.content__list__iteam__icon{
    margin: 30px;
}
.content__list__iteam__icon p {
    text-align: justify;
    line-height:1.6;
}
.content__list__iteam__icon h1{
    margin-bottom: 30px;
    font-size: 25px;
}
